.propiedadesflex{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}

.footer{

    @extend .propiedadesflex;

}


    .divfooter0{

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    
    }
    .footer__img{

        width: 75px;
        height: 60px;
    
    }
    .footer__p{
    
        font-size: 23px;
        color: map-get($map: $colores, $key: negro );
        border-bottom: 3px solid #f7a2e0;
    
    }
    .divfooter__img2{
     
        width: 65px;
        height: 45px;
        transition: all 1s;

    }
    .divfooter__img2:hover{

        width: 90px;
        height: 60px;
    
    } 



