.propiedadesflex{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}

    .div1{

        @extend .propiedadesflex;
        align-content: center;

    }

    .div1__img{
        @include tamaño (300px, 220px);
    }
     
    
