.div1{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    .div1__img{
        width: 300px;
        height: 220px;
    }
     
    
}