*{
    font-family: 'Shippori Antique', sans-serif;
    
}

.body{
    
    background-color: #f3dbed;
    
}

/* Inicio del index */

/* Inicio de flex */

$colores: (negro: #000000,rosaclaro:#f3dbed, rosa: #f7a2e0, rojo: #b31919);

@import "header";

@import "nav";

@import "section";

@import "footer";

$colorp: #b31919;

p{
    color: $colorp;
}

/* Inicio de grid */

#grilla{

    display: grid;
    grid-template-areas: 
    "header header header"
    "section section section"
    "footer footer footer";
    .header{
        grid-area: header;
      }
    .section{
        grid-area: section;
      }
    .footer{
        grid-area: footer;
      } 
    
}



@media screen and (max-width: 768px) {

.body{
  
   background-color: #f3dbed;
   
}

.div1{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    .div1__img{

        width: 180px;
        height: 140px;
        text-decoration-line:underline;
        color: #000000;
        text-align: left;   
    
    }

}   



.nav{

    margin-bottom: 30px;
    font-size: 20px;
    
}
    

.section__article{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .section__article--h1{
    
        font-size: 50px;
        color: #000000;
        text-align: center; 
        margin-bottom: 20px;
            
    }
    .section__article--imgnuevas{
    
        width: 250px;
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
    .section__article--p{

        font-size: 16px;
        color: #000000;
        border: 3px solid #000000 ;
        text-align: center;
        margin-bottom: 60px;
        
    }

} 


.footer{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    .footer__p{

        font-size: 14px;
        color: #000000;
        border-bottom: 3px solid #000000;
    
    }
    .footer__img{
    

        display: none;
        width: 60px;
        height: 45px;
    
    }
    .divfooter__img2{
    
        width: 40px;
        height: 20px;
    
    } 

    
}

/* Inicio de grid en mediaq*/

#grilla{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

}

}
/* Fin del index */
